# INTRODUCCIÓN AL PYTHON

# ¿QUE ES PYTHON?

1. Python es una lenguaje de alto nivel
2. Es un lenguaje dinámico e interpretado.

# 1.OPERACIONES ARITMÉTICAS Y SINTAXIS DE PYTHON
$$+,-,*,**,/,//,\%$$

In [1]:
5+1

6

In [2]:
5-1

4

In [3]:
5*4

20

In [4]:
20/3

6.666666666666667

In [5]:
20./3

6.666666666666667

In [6]:
20//3

6

In [7]:
20%3

2

# 2.NÚMEROS COMPLEJOS

\begin{equation}
    Z_{1}=a_{1} + b_{1}j \\
    Z_{2}=a_{2} + b_{2}j 
\end{equation}

En python la forma de ingresar un complejo es de la misma manera que se denota en las matemáticas.

In [8]:
2+3j

(2+3j)

In [9]:
1+1j

(1+1j)

In [10]:
(1+2j) + (3+4j)

(4+6j)

In [11]:
(3+5j) - (1+1j)

(2+4j)

In [12]:
(3j)**2

(-9+0j)

Para sacar el módulo $|Z|=\sqrt{a^{2}+b^{2}}$ de un complejo usamos __abs()__

In [13]:
abs(3+4j)

5.0

In [14]:
abs(1+1j)

1.4142135623730951

# 3.CONVERTIR TIPOS NUMÉRICOS INT(),FLOAT(),ROUND(),COMPLEX()

In [15]:
int(3.41)

3

In [16]:
float(3)

3.0

In [17]:
round(3.4567)

3

In [18]:
round(3.7)

4

In [19]:
round(3.4567,3)

3.457

In [20]:
complex(3.4)

(3.4+0j)

# 4.FUNCIÓN MAX Y MIN

In [21]:
max(3,4,5)

5

In [22]:
min(5,2,6)

2

# 5.OPERADORES DE COMPARACIÓN
    <,>,>=,<=,!=,==

In [23]:
5<2

False

In [24]:
4==4

True

In [25]:
5<=6

True

# 6.ASIGNACIONES CON OPERADOR
$$+,-,*,**,/,./,\%$$

In [26]:
x = (4 + 3)*(4<3)
x

0

In [27]:
y = 5**2 + (3>4)
y

25

In [28]:
int(True)

1

In [29]:
(3*3) + (3<4)

10

# 7.OPERADORES LOGICOS not,and y or

In [30]:
4 < 5 and 4 == 4

True

In [31]:
4 > 5 or 4 == 4

True

In [32]:
not 4 == 4

False

# 8.Conversión de Bases

Python permite expresar números en estas tres bases 2,8 y 16. Los números en base 2 se expresan
con el prefijo 0b (o 0B) seguido de una sucesión de unos y ceros.

Los números en base 8, también conocida como base octal, se forman con 0o (o 0O) seguida de uno o más dígitos entre 0 y 7.

Los números en base 16 o hexadecimal empiezan por 0x (o 0X) y siguen con uno o más dígitos entre 0 y 9 o letras minúsculas o mayúsculas entre A y F.La letra A tiene valor 10, la B valor 11 y así hasta la F, que tiene valor 15.

In [33]:
0b110

6

$$ 1x2^{2} + 1x2^{1} + 0  = 6$$

In [34]:
0o123

83

$$ 1x8^{2} + 2x8^{1} + 3 = 83 $$

In [35]:
0x1A

26

$$ 1x16^{1} + 10 = 26$$

# 9.FORMA CORRECTA DE ESCRIBIR UNA VARIABLE

El nombre de una variable es su identificador. Hay unas reglas precisas para construir identificadores. Si no se siguen, diremos que el identificador no es válido. Un identificador debe estar formado por letras minúsculas, mayúsculas, dígitos y/o el carácter de subrayado , con una restricción, que el primer carácter no sea un dígito.

Hay una norma más: un identificador no puede coincidir con una palabra reservada o palabra clave. Una palabra reservada es una palabra que tiene un significado predefinido y es necesaria
para expresar ciertas construcciones del lenguaje. Aquí tienes una lista con todas las palabras
reservadas de Python: and, as, assert, break, class, continue, def, del, elif, else, except, False,
finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return,
True, try, with, while y yield.

Debes tener presente que Python distingue entre mayúsculas y minúsculas, así que área, Área y ÁREA son tres identificadores válidos y diferentes.

ejemplos correctos:
hora12 , var , mundo_1 , x ,pi, _ , _ja

ejemplos incorrectos
'var' , 12hors , _12hola , hola mundo

# 10.TIPOS DE DATOS CADENA

Una cadena es una secuencia de caracteres los cuales pueden ser 
letras , números, espacios, marcas de puntuación, etc.
En python para distinguir una cadena se usa las comillas simples o dobles  (' ' o " "). 

Ejemplos

cadena="hola mundo" , var1='Nombre', numcarac="2"

In [36]:
hora='12:00 pm'
hora

'12:00 pm'

In [37]:
var_1='hola como estas'
var_1

'hola como estas'

# 11.FUNCIONES PREDEFINIDAS

# abs()   -> valor absoluto

In [38]:
abs(-3)

3

# float() -> conversión a tipo flotante

In [39]:
float(3)

3.0

# int() -> conversión a tipo entero

In [40]:
int(3.4)

3

# str() ->conversión a cadena 
recibe un número y devuelve una representacion de este como cadena.
Sí colocamos una caden dentro de la funcion str nos devolvera la misma cadena.

In [41]:
str(3)

'3'

# bin() ->Conversión de un entero en una cadena con  el número expresado en base 2

In [42]:
bin(5)

'0b101'

# oct() ->Conversión de un entero en una cadena con  el número expresado en base 8

In [43]:
oct(83)

'0o123'

# hex() ->Conversión de un entero en una cadena con  el número expresado en base 16

In [44]:
hex(26)

'0x1a'

# round() -> Redondea el número dentro del parantesis

In [45]:
round(4.56675)

5

# round(,) ->Recibe dos argumentos el primero el número que quiere redondear y el segundo indica cuantos decimales deseamos conservar.

In [46]:
round(4.567567,2)

4.57

# 11.1 Funciones básicas para cadenas: ord y chr
El caso de comparaciones : == y != para comparar cadenas de caracteres en el primer caso todos los caracteres deben ser iguales de la primera cadena con la segunda.En el segundo caso basta que un carácter sea diferente las cadenas son diferentes.

Cuando Python compara dos cadenas lo hace carácter a carácter.La letra a, por ejemplo, se codifica con el entero 97, y la b con el entero 98. Si comparamos la cadena 'a' con la cadena 'b', Python nos dirá que la primera es menor que la segunda. ¿Qué pasa si comparamos 'aa' con 'ab'? Python compara primero el primer carácter de cada cadena. Como los dos son iguales, pasa a comparar el segundo carácter de cada cadena y llega a la conclusión de que la primera cadena es menor que la segunda. ¿Y qué pasa si comparamos 'a'con 'aa' ? Nuevamente el primer carácter resulta insuficiente para decidir nada. Python trata de pasar a estudiar el segundo carácter de cada cadena, pero la primera cadena no tiene segundo carácter. Así pues, nuevamente resulta que la primera cadena es menor que la segunda.

In [47]:
'a'<'a'

False

In [48]:
'a'<'aa'

True

In [49]:
'aa'<'ab'

True

# ord() -> Te permite conocer el valor numérico que corresponde

In [50]:
ord('a')

97

# chr() -> Te permite saber el carácter que corresponde

In [51]:
chr(97)

'a'

# 12.MÓDULOS E IMPORTACIÓN DE FUNCIONES Y VARIABLES
python también proporciona funciones trigonométricas,logarítmicas,etc.Pero no estan directamente disponibles cuando iniciamos una sesión.Antes de utilizarlas debemos indicar a Python que vamos a hacerlo.Para ello, importamos cada función de un módulo.

# 12.1 El Módulo math

__Ejemplo__

In [52]:
from math import *

In [53]:
sin(1)

0.8414709848078965

Observa que el argumento de la función seno debe expresarse en radianes.

En una sentencia se puede importar un gran número de funciones y variales de un módulo.

ejemplo:

from math import sin,cos

entonces conozcamos las funciones del módulo math :

sin(x)   -> calcula el seno de x.

cos(x)   -> calcula el coseno de x.

tan(x)   ->calcula la tangente de x. 

exp(x)   ->el número e elevado a la x.

ceil(x)  ->Redondea hacia arriba de x.

floor(x) ->Redondea hacia abajo de x.

log(x)   ->Calcula el logaritmo natural de x.

log10(x) ->Logaritmo x en base de 10.

sqrt(x)  ->Raíz cuadrada de x.

pow(x,y) -> x elevado a la y.

In [54]:
pow(2,0.5)

1.4142135623730951

In [55]:
log(10)

2.302585092994046

In [56]:
log10(10)

1.0

In [57]:
sqrt(16)

4.0

In [58]:
pi

3.141592653589793

# 13.Uso del format

Aprender a mostrar la información con formato es esencial para que el usuario encuentre
atractiva la forma en que ve los resultados. El método format de las cadenas nos proporciona
una herramienta fundamental, aunque cuesta un poco dominarlo.
Empezamos por aprender a intercambiar valores en una cadena, es decir, sustituir una marca
especial por el valor de una expresión. Fíjate en esta sentencia:

In [59]:
"El número {0} es par".format(4)

'El número 4 es par'

El caracter {0} ha sido reemplazado por 1.23  y el {0} me indica la posición.

In [60]:
oración="El numero {1} es menor que el {0} pero el {2} es mayor que ambos y es igual a {3} "
oración.format(6.49,4.5,8,8)

'El numero 4.5 es menor que el 6.49 pero el 8 es mayor que ambos y es igual a 8 '

Las marcas pueden modificarse para controlar el aspecto de la información. Imaginemos que
deseamos mostrar los valores flotantes redondeados con un solo decimal:

In [61]:
oracion="El numero {1:.1f} es mayor que {0:.2f}"
oracion.format(3.426,9.93122)
# .1f se le denomina marcas de formato

'El numero 9.9 es mayor que 3.43'

# 14. Lectura por teclado

Para poder usar valores de entrada por teclado, existe una función predefinida __input("Ingresar lo que desee el programador")__.

Observación: si deseas que el valor de entrada ingresado es un tipo numérico necesariamente debe ser cambiado usando __float() o int()__. También al __ingresar un dato de tipo cadena deberá ingresar entre comillas__.

__Ejemplos 1:__ Hacer un programa que ingrese nombre, edad y sueldo.

In [62]:
nombre=input("Ingrese su nombre : ")
edad=int(input("Ingrese la edad : "))
sueldo=float(input("ingrese el sueldo : "))

Ingrese su nombre : juan
Ingrese la edad : 23
ingrese el sueldo : 450.40

# 15.Salida - print()

Llamaremos __salida__ a forma de mostrar los datos por pantalla. Para esto usaremos un comando llamado __print ('Mensaje : ', variable)__

__Ejemplo 2:__ Usar como referencia el ejemplo 1 y mostrar la suma de edad con el sueldo de dicha persona.

In [63]:
total = edad + sueldo
print ("La Suma del sueldo y del total es : ",total)

La Suma del sueldo y del total es :  473.4

__Ejemplo 3:__ Usar como referencia el ejemplo 1 y 2 ,y mostrar la suma con el sueldo mostrar dichos valores usando la función __print__.

Nota: recordar la función __format()__.

In [64]:
print ("La suma del sueldo = {1:.3f} y edad = {0} es igual a : {2:.3f}".format(edad,sueldo,total))

La suma del sueldo = 450.400 y edad = 23 es igual a : 473.400

__Ejemplo 4:__ Haz un programa que pida el nombre de una persona y lo muestre en pantalla
repetido 100 veces, pero dejando un espacio de separación entre aparición y aparición del
nombre. (Utiliza los operadores de __concatenación(+) y repetición(*)__).

In [65]:
nom=input("Ingrese nombre : ")
(nom+" ")*100

Ingrese nombre : pedro

'pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro pedro '

# C.J.Q.P